@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
:root{
    --main-color       : #52A5E0;
    --title-color      : #EFF3F5;
    --text-color       : #C8CDD0;
    --light-text-color : #A0A7AC;
    --border-color     : #2A3B47;
    --container-color  : #212E36;
    --body-color       : #192229;
}
body{
    background-color: var(--body-color);
    font-family: 'Dancing Script', cursive;
    color: var(--text-color);
}

.photos{
    margin-top: 80px
    ;
}

.card{
    margin-bottom:20px;
    border-radius: 12px;
    position: relative;
    box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.75);
    border: none;
    transition: all .5s;
}

.card:hover{
    transform: scale(1.2);
}
.card img{
    max-height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card a{
   padding: 0;
}
.card .info{
    position: absolute;
    bottom: 10px;
    display: block;
   
}
.card-title{
    margin-bottom: 0;
}

.card-body{
    background-color: var(--container-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top:5px;
    text-align: center;
    min-height: 110px;
 
}
.heart{
    background-color: transparent;
    border: none;
}
.modal-content{
    border: none;
}
.modal-header, .modal-body, .modal-footer{

    background-color: var(--border-color);
   
}
.modal-body{
    font-size: 1rem;
}
.modal-body img{
    border-radius: 20px;
    margin-bottom: 20px;
    width: 450px;
    
    box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.75);
}
.container-fav{
    box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.75);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;

}
.container-fav img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    transition: all .2s;
}
.container-fav img:hover{
    transform: scale(1.2) rotate(-5deg);
    filter: sepia(1);
    opacity: 0.5;
}
.btnSacarPerrito{
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}




@media (max-width:1189px) {
    .card{
        width: 12rem;
    }
    .photos{
        grid-template-columns:repeat(auto-fill, 300px); ;
    }
}

@media (max-width:995px) {
    .card{
        width: 15rem;
    }
    .photos{
        grid-template-columns:repeat(auto-fill, 300px); ;
    }
}
